* {
  margin: 0;
  padding: 0;
}
body {
  background: red;
  color: #fff;
}
h1 {
  color black;
  /* text-align: center; */
}

.my-column{
  background: #000;
  margin-bottom: 30px;
  text-align: center;
  min-height: 100px;
  align-items: center;
    
}